<mat-toolbar color="primary" class="navbar">
  <div><a href=''>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </a></div>
  <div>
    <span>
      <button mat-button [matMenuTriggerFor]="menuManager">Manager</button>
      <mat-menu #menuManager="matMenu">
      <a mat-menu-item routerLink="/employee/table">Employee</a>
      <a mat-menu-item routerLink="/project">Project</a>
      </mat-menu>
    </span>
    <span>
      <a mat-button routerLink='login'>Login</a>
    </span>
    <span>
      <button mat-button [matMenuTriggerFor]="menuUser">Hello User</button>
      <mat-menu #menuUser="matMenu">
      <a mat-menu-item (click)="accountInfo()">User Information</a>
      <a mat-menu-item (click)="logOutAccount()">LogOut </a>
      </mat-menu>
    </span>
  </div>
</mat-toolbar>
