<div class="dialog-container">
  <button mat-icon-button class="close-button" (click)="onClose()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>

  <div id="left">
    <div class="emp-avatar-container">
      <div class="emp-avatar">
        <img
          src="https://s3-alpha-sig.figma.com/img/6144/09cf/c919e02030294db39733fcb840d1ffc9?Expires=1646006400&Signature=AeauJl557joj5oYXaaTc0mkQmrfZDDz6u-QDhtpe5ym~vHnGTsvlaf~-rPNf8icIjvKH~Vgho-P6ji32aQpZRBnmu8hihbrKY1~iOfNWCiQxnl2BsF6a6pUlTsVziDDEdfx7P3hlNCbc8qQqn8ZHacqGgXIX7Zj5pHblCe4oea~2smnCrUspLlWgqv~BrcHRNYcTbzPj1mRUPlfy2~78ZpkuaHpZMKogd9yQaLcUCUn8PTtgHjQ0amZGArQhDcalLLofzsWZ1f9KPV18hLCDppvP3KKJgV0JfrwNby~FTq3cigMCFsQ4Boffphl~STNPksSwXpUr6KjnyJDHoupMMw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
          alt="">
      </div>
    </div>

    <div class="name-container">
      <div class="name">{{employee?.name}}</div>
      <div class="sub-name">{{employee?.status}}</div>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div id="right">
    <div class="info info-label">Mail:</div>
    <div class="info emp-mail">{{employee?.mail}}</div>
    <div class="info info-label">Address</div>
    <div class="info emp-adress">{{employee?.ward}}, {{employee?.district}}, {{employee?.province}}
      , {{employee?.country}}</div>
    <div class="info info-label">Gender</div>
    <div class="info emp-gender">{{employee?.gender}}</div>
    <div class="info info-label">Project</div>
    <div class="info info-list emp-projects">
      <ul>
        <li *ngFor="let pm of employee?.projectMembers">
          <div class="info-list-item emp-project"><a (click)="projectDetailClick(pm.project.id)">{{pm.project.name}}</a>
          </div>
          <div class="label emp-project-role">{{pm.role}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
