<div class="childViewBody">
    <div class="div-left" style="float: left;">
        <div style="padding-top: 20px;">
            <mat-drawer-container class="container" autosize>
                <mat-drawer #drawer class="sidenav" mode="side">
                    <h3><b>Search Mem</b></h3>
                    <form class="search-pm-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>PM Username</mat-label>
                          <input matInput placeholder="TrangTTU">
                        </mat-form-field>
                        <button type="button" mat-icon-button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                    </form><br>
        
                    <h3><b>Search Support</b></h3>
                    <form class="search-support-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Support Username</mat-label>
                          <input matInput placeholder="TrangTTU">
                        </mat-form-field>
                        <button type="button" mat-icon-button >
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                      </form>
                </mat-drawer>
        
                <div class="sidenav-content">
                  <button class="button-show" type="button" mat-icon-button (click)="drawer.toggle()">
                    <i class="fa-solid fa-caret-right"></i>
                  </button>
                </div>
              </mat-drawer-container>
        </div>
    </div>
    
    <div class="div-right" style=" display: flow-root;">
        <div class="tree">
            <ul>
                <li>
                    <!-- start Node cha -->
                    <div class="node">
                        <p>PM</p>
                        <hr>
                        <div class="avaAndName">
                            <img src="\assets\images\MeoBeo.jpg" alt="img2"><a href="#">{{namePM}}</a>
                        </div>
                        <hr>
                        <div class="oneButton">
                            <button mat-stroked-button color="primary">ADD Project</button>
                        </div>
                    </div>
                    <!-- end Node cha -->
                    <!-- start node con tầng 2 -->
                    <div class="tangCon" >
                        <ul>
            
                            <!-- node tầng 2 - 1 -->
                            <li *ngFor="let pAm of projectAndMembers" >
                                <div class="node" [ngStyle]="{'background-color': checkProjectState(pAm.project)}">
                                    <p>{{pAm.project.name}}</p>
                                    <hr>
                                    <p class="description"><b>Description: </b>{{pAm.project.description}}</p>
                                    <p class="description"><b>State: </b>{{pAm.project.state}}</p>
                                    <div class="twoButton">
                                        <button mat-stroked-button color="primary" class="buttonLeft">Add mem</button>
                                        <button mat-stroked-button color="warn" class="buttonRight">Remove</button>
                                    </div>
                                </div>
                                <!-- <div *ngIf="getMemberByProjectId(prjId.projectID+'')"> -->
                                <div *ngIf="pAm.memberList.length>0">
                                    <ul>
                                        <li *ngFor="let projectMember of pAm.memberList" >
                                            <div class="node" [ngStyle]="checkMemberRole(projectMember)?{'background-color': '#DCAB2D'}:{'background-color': '#EC8A8A'}">
                                                <p>{{projectMember.role}}</p>
                                                <hr>
                                                <div class="avaAndName">
                                                    <img src="\assets\images\MeoBeo.jpg" alt="img2"><a href="#">{{getAccountName(projectMember)}}</a>
                                                </div>
                                                <hr>
                                                <div class="oneButton">
                                                    <button mat-stroked-button color="warn">Remove</button>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                        <!-- Thêm button more vào thì nhánh cây không cân nữa nên phải thêm padding-left: 40px trong class tang2 để cân -->
                        <!-- <button class="moreButton">More</button> -->
                    </div>
                    <!-- end node con tầng 2 -->
                </li>
            </ul>
        </div>
    </div>
</div>