<div class="parentViewBody">
    <div class="div-left" style="float: left;">
        <div style="padding-top: 20px;">
            <mat-drawer-container class="container" autosize>
                <mat-drawer #drawer class="sidenav" mode="side">
                    <h3 style="margin-bottom: 0px"><b>Search Account</b></h3>
                    <form class="search-pm-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Username</mat-label>
                          <input name="key" id="searchPM" type="search" (ngModelChange)="[textValue=key.value, searchAccount()]" matInput placeholder="TrangTTU" #key="ngModel" ngModel >
                        </mat-form-field>
                    </form>
                  <h4 style="margin-bottom: 0px"><b>Search option</b></h4>
                  <mat-form-field appearance="fill">
                    <mat-label>Search option</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="option" (selectionChange)="changeClient($event.value)">
                      <mat-option name="choose" *ngFor="let op of ops" [value]="op.value" value="{{op.value}}" >
                        {{op.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-drawer>

                <div class="sidenav-content">
                  <button class="button-show" type="button" mat-icon-button (click)="drawer.toggle()">
                    <i class="fa-solid fa-caret-right"></i>
                  </button>
                </div>
              </mat-drawer-container>
        </div>
    </div>

    <div class="div-right" style=" display: flow-root;">
        <div class="tree">
            <ul>
                <li>
                    <!-- start Node cha -->
                    <div class="node">
                        <p>BUL</p>

                        <hr>
                        <div class="avaAndName">
                            <img src="\assets\images\MeoBeo.jpg" alt="img2"><a href="#">{{BUL}}</a>
                        </div>
                        <hr>
                        <p class="description"><b>BU name: </b>{{BUName}}</p>
                        <div class="oneButton">
                            <button mat-raised-button color="primary">ADD PM</button>
                        </div>
                    </div>
                    <!-- end Node cha -->
                    <!-- start node con tầng 2 -->
                    <!-- <div class="tang2" > -->
                        <ul class="ulClass">
                            <li *ngFor="let pm of displayPmAccounts">
                                <div class="node">
                                    <p>PM</p>
                                    <hr>
                                    <div class="avaAndName">
                                        <img src="\assets\images\MeoBeo.jpg" alt="img2"><a href="#">{{pm.account.accountName}}</a>
                                    </div>
                                    <hr>
                                    <div class="oneButton">
                                        <button mat-raised-button color="primary" [routerLink]="'/pm/'+pm.id+'/project'">Projects</button>
                                        <!-- <button mat-stroked-button color="primary" routerLink="/listProject" (click)="listChildPage(pm.id)">Projects</button> -->
                                    </div>
                                </div>
                            </li>
                            <!-- Node support tầng 2 -->
                            <li>
                                <div class="node">
                                    <p>Support</p>
                                    <hr>
                                    <p class="description"><b>Description: </b>HTML is the standard markup language for creating Web pages. HTML describes the structure of a Web page, and consists of a series of elements. HTML elements tell the browser how to display the content.</p>
                                    <hr>
                                </div>
                                <ul class="ulClass">
                                    <li *ngFor="let support of displaySupports">
                                        <div class="node">
                                            <p>Support</p>
                                            <hr>
                                            <div class="avaAndName">
                                                <img src="\assets\images\MeoBeo.jpg" alt="img2"><a href="#">{{support.account.accountName}}</a>
                                            </div>
                                            <hr>
                                            <div class="oneButton">
                                                <button mat-raised-button color="warn">Remove</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                        <!-- Thêm button more vào thì nhánh cây không cân nữa nên phải thêm padding-left: 40px trong class tang2 để cân -->
                        <!-- <button class="moreButton" style="float: left;">More</button> -->
                    <!-- </div> -->
                    <!-- end node con tầng 2 -->
                </li>
            </ul>
        </div>


    </div>


</div>
