<div class="ViewBody">
  <div class="div-left" style="float: left;">
    <div style="padding-top: 20px;">
      <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side">
          <h3 style="margin-bottom: 0px"><b>Search Account</b></h3>
          <form class="search-pm-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Username</mat-label>
              <input name="key" id="searchPM" type="search" (ngModelChange)="[textValue=key.value, searchAccount()]"
                     matInput placeholder="TrangTTU" #key="ngModel" ngModel>
            </mat-form-field>
          </form>
          <h4 style="margin-bottom: 0px"><b>Search option</b></h4>
          <mat-form-field appearance="fill">
            <mat-label>Search option</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="option" (selectionChange)="changeClient($event.value)">
              <mat-option name="choose" *ngFor="let op of ops" [value]="op.value" value="{{op.value}}">
                {{op.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-drawer>

        <div class="sidenav-content">
          <button class="button-show" type="button" mat-icon-button (click)="drawer.toggle()">
            <i class="fa-solid fa-caret-right"></i>
          </button>
        </div>
      </mat-drawer-container>
    </div>
  </div>

  <div class="div-right" style=" display: flow-root;">
    <div class="tree">
      <ul>
        <li>
          <!-- start Node cha -->
          <div class="node" (click)="detailEmployee(BUL.id)" [ngStyle]="{'background-color': nodeColor('BUL')}">
            <div class="node-mask node-padding">
              <p>BUL</p>

              <hr>
              <div class="avaAndName">
                <img src="\assets\images\MeoBeo.jpg" alt="img2">
                <div class="name">{{BUL?.account?.accountName}}</div>
              </div>
<!--              <hr>-->
<!--              <p class="description"><b>BU name: </b>{{BUName}}</p>-->
              <div class="oneButton">
                <button mat-raised-button color="primary">ADD PM</button>
              </div>
            </div>
          </div>
          <!-- end Node cha -->
          <!-- start node con tầng 2 -->
          <!-- <div class="tang2" > -->
          <ul class="ulClass">
              <li *ngFor="let pm of displayPmAccounts | slice:0:showPM; let i=index">
                <div class="node" (click)="detailEmployee(pm.id)" [ngStyle]="{'background-color': nodeColor('PM')}">
                  <div class="node-mask node-padding">
                    <p>PM</p>
                    <hr>
                    <div class="avaAndName">
                      <img src="\assets\images\MeoBeo.jpg" alt="img2">
                      <div class="name" mat-button>{{pm.account.accountName}}</div>
                    </div>
<!--                    <hr>-->
                    <div class="oneButton">
                      <button mat-raised-button color="primary" [routerLink]="'/pm/'+pm.id+'/project'">Projects</button>
                      <!-- <button mat-stroked-button color="primary" routerLink="/listProject" (click)="listChildPage(pm.id)">Projects</button> -->
                    </div>
                  </div>
                </div>
                <div *ngIf="i==(showPM-1) && i < displayPmAccounts.length-1" style="display: flex; float: right;margin-top: 50px; margin-left: 7px">
                  <button mat-stroked-button (click)="increaseShowPM()">More</button>
                </div>
              </li>
            <!-- Node support tầng 2 -->
            <li>
              <div class="node node-padding" [ngStyle]="{'background-color': nodeColor('PM')}">
                <br>
                <h2 style="text-align: center">Support</h2>
              </div>

              <ul class="ulClass">
                <li *ngFor="let support of displaySupports | slice:0:showSP; let i=index">
                  <div class="node" (click)="detailEmployee(support.id)" [ngStyle]="{'background-color': nodeColor('SUPPORT')}">
                    <div class="node-mask node-padding">
                      <p>Support</p>
                      <hr>
                      <div class="avaAndName">
                        <img src="\assets\images\MeoBeo.jpg" alt="img2">
                        <div class="name" mat-button>{{support.account.accountName}}</div>
                      </div>
<!--                      <hr>-->
                      <div class="oneButton">
                        <button mat-raised-button color="warn">Remove</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="i==(showSP-1)  && i < displaySupports.length-1" style="display: flex; float: right; margin-top: 50px; margin-left: 7px">
                    <button mat-stroked-button (click)="increaseShowSP()">More</button>
                  </div>
                </li>

              </ul>
            </li>

          </ul>
          <!-- Thêm button more vào thì nhánh cây không cân nữa nên phải thêm padding-left: 40px trong class tang2 để cân -->
          <!-- <button class="moreButton" style="float: left;">More</button> -->
          <!-- </div> -->
          <!-- end node con tầng 2 -->
        </li>
      </ul>
    </div>


  </div>


</div>
