<img class="wave" src="assets/images/wave.png">
<div class="wrapper">
  <div class="img">
    <img src="assets/images/login.svg">
  </div>
  <div class="login-content">
    <form>
      <img src="assets/images/profile.svg">
      <h2 class="title">Welcome</h2>
      <div class="input-div one" [class.focus]="isUsernameFocus">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Username</h5>
          <input type="text" class="input" #username
                 (focus)="isUsernameFocus = true"
                 (blur)="username.value == '' ? isUsernameFocus = false : isUsernameFocus = true">
        </div>
      </div>
      <div class="input-div pass" [class.focus]="isPasswordFocus">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Password</h5>
          <input type="password" class="input" #password
                 (focus)="isPasswordFocus = true"
                 (blur)="password.value == '' ? isPasswordFocus = false : isPasswordFocus = true">
        </div>
      </div>
      <div *ngIf="isIncorrectUser" class="error_mess">
        Incorrect Username or Password!
      </div>
      <a routerLink="/forgot-password">Forgot Password?</a>
      <input type="button" class="btn" value="Login" (keydown.enter)="login(username.value, password.value)"
             (click)="login(username.value, password.value)">
    </form>
  </div>
</div>
