<img class="wave" src="assets/images/wave.png">
<div class="wrapper">
  <div class="login-content">
    <form>
      <h2 class="title">Forgot Password</h2>
      <div class="input-div one" [class.focus]="isUsernameFocus">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Username</h5>
          <input type="text" class="input" #username
                 (focus)="isUsernameFocus = true"
                 (blur)="username.value == '' ? isUsernameFocus = false : isUsernameFocus = true">
        </div>
      </div>
      <div *ngIf="isIncorrectUser" class="error_mess">
        Incorrect Username!
      </div>
      <div *ngIf="isSendMailSuccess" class="success_mess">
        We sent a password reset link to your email, please check!
      </div>
      <a routerLink="/login">Login</a>
      <input type="button" class="btn" value="Send mail" (keydown.enter)="sendMail(username.value)"
             (click)="sendMail(username.value)">
    </form>
  </div>
</div>
