<img class="wave" src="assets/images/wave.png">
<div class="wrapper">
  <div class="login-content">
    <form>
      <h2 class="title">Reset Password</h2>
      <div class="input-div one" [class.focus]="isPasswordFocus">
        <div class="i">
          <i class="fas fa-key"></i>
        </div>
        <div class="div">
          <h5>New Password</h5>
          <input type="password" class="input" #password
                 (focus)="isPasswordFocus = true"
                 (blur)="password.value == '' ? isPasswordFocus = false : isPasswordFocus = true">
        </div>
      </div>
      <div class="input-div one" [class.focus]="isRePasswordFocus">
        <div class="i">
          <i class="fas fa-key"></i>
        </div>
        <div class="div">
          <h5>Repeat Password</h5>
          <input type="password" class="input" #rePassword
                 (focus)="isRePasswordFocus = true"
                 (blur)="rePassword.value == '' ? isRePasswordFocus = false : isRePasswordFocus = true">
        </div>
      </div>
      <div *ngIf="isNotSamePassword" class="error_mess">
        Incorrect Re-Password
      </div>
      <a routerLink="/login">Login</a>
      <input type="button" class="btn" value="Reset" (keydown.enter)="resetPassword(password.value,rePassword.value)"
             (click)="resetPassword(password.value,rePassword.value)">
    </form>
  </div>
</div>
