.dialog-container{
    position: relative;

    display: flex;
    align-items: center;
    height: 620px;
}

.close-button{
    float: right;
    position: absolute;
    top: -20px;
    right: -20px;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 40px;
    width: 35%;
}

#right{
    flex: 1;
    padding: 0 75px;
}

.emp-avatar-container{
    display:flex;
    flex-direction: row;
}

.emp-avatar{  
    border: 8px solid #BDBDBD;
    border-radius: 50%;
    width: 229px;
    height: 229px;
}

.emp-avatar img{
    width: 100%;
    border-radius: 50%;
}

.name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.name{
    font-size: 35px;
    line-height: 40px;
    color: #6E41E2;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-name{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 200px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-line{
    border-left: 1px solid black;
    height: 500px;
}

.info{
}

.info-label{
    font-weight: bold;
    line-height: 44px;
    font-size: 20px;
    margin-bottom: -0.5em;
}

.info-data{
    line-height: 34px;
    font-size: 20px;
}

.info-list ul{
    max-height: 135px;
    margin: 0;
    padding: 0;

    overflow-y: auto;
}

.info-list li{
    display: flex;
    align-items: center;
    cursor: pointer;

    border: #000000 solid;
    border-width: 0 0 1px 0;
}

.info-list li:hover a{
    color: #6E41E2;
    text-decoration: none;
}

.info-list li:hover{
    background-color: #f5f5f5;
}

.info-list-item a{
    color: #000000;
    text-decoration: none;
}

.info-list-item{
    width: 429px;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.label{
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
    margin: 0 auto;

    color: #57606a;
    border-color: #d0d7de;
}

#edit-button{
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

