<div class="container">
  <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <div class="row"  class="rounded-circle" width="150" height="150">
                      <div class="col-12">
                        <input type="file" name="image" id="image" accept="image/*" (change)="selectFile($event)"
                               style="display: none" #avatarIp/>
                        <div id="preview-wrapper">
                          <div id="preview" (click)="avatarIp.click()">
                            <img
                              [src]="avatar==null ? DEFAULT_DISPLAY_AVATAR : avatar"
                              alt="" id="avatar__preview">
                          </div>
                        </div>
                      </div>
                  </div>
                  <!-- <img [src]="ava==null ?  'assets/images/profile.svg' : ava" alt="avatar" class="rounded-circle" width="150" height="150"> -->
                  <!-- <img [src]="'https://firebasestorage.googleapis.com/v0/b/humanaged-d9db7.appspot.com/o/1647511730255?alt=media&token=1c02a135-d041-47c7-b32c-2be03b496b2b'" alt="avatar" class="rounded-circle" width="150"> -->
                  <div class="mt-3">
                    <h4>{{employee.name}}</h4>
                    <p class="text-secondary mb-1">{{employee.mail}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form class="col-md-8" [formGroup]="form" (ngSubmit)="saveInfo()" >
          <div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input matInput type="text" [value]="employee.phoneNumber" name="phoneNumber" [(ngModel)]="employee.phoneNumber" formControlName="phoneNumber">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input matInput type="text" [value]="employee.address" name="address" [(ngModel)]="employee.address" formControlName="address">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Gender</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                        <mat-select [value]="employee.gender" name="gender" [(ngModel)]="employee.gender" formControlName="gender">
                        <mat-option value="MALE">Male</mat-option>
                        <mat-option value="FEMALE">Female</mat-option>
                    </mat-select>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Birthday</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input matInput type="date" [value]="employee.birthday" name="birthday" [(ngModel)]="employee.birthday" formControlName="birthday">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Province</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                        <mat-select [value]="employee.province" name="province" [(ngModel)]="employee.province" formControlName="province" [compareWith]="compareLocation"
                                (selectionChange)="getDistrict($event.value.id)">
                        <mat-option *ngFor="let province of provinceList" [value]="province">{{province.name}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">District</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                        <mat-select [value]="employee.district" name="district" [(ngModel)]="employee.district" formControlName="district" [compareWith]="compareLocation"
                                (selectionChange)="getWard($event.value.id)">
                        <mat-option *ngFor="let district of districtList" [value]="district">{{district.name}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Ward</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                        <mat-select [value]="employee.ward" name="ward" [(ngModel)]="employee.ward" formControlName="ward" [compareWith]="compareLocation">>
                        <mat-option *ngFor="let ward of wardList" [value]="ward">{{ward.name}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-info">
                      Save
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>

      </div>
  </div>
